<%= form_for(salary_transaction) do |f| %>
  <% if salary_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary_transaction.errors.count, "error") %> prohibited this salary_transaction from being saved:</h2>

      <ul>
      <% salary_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= salary_transaction.user.name %>
    <%= f.hidden_field :user_id  %>
  </div>

  <div class="form-group">
    <%= f.label :month %>
    <%= f.date_select :month , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.text_field :amount , class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
