<% content_for :top_content do %>
  <div class="main-page">
    <div class="container">
      <br>
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-5">
            <div class="panel panel-danger">
              <div class="panel-heading">Our Team</div>
              <div class="panel-body">
                <table class="table table-striped table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Role</th>
                      <th>Designation</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user_profiles.each do |user_profile| %>
                      <tr>
                        <td><%= link_to user_profile.user.name , public_path(user_profile.id) , class:''%></td>
                        <td><%= user_profile.role.title %></td>
                        <td><%= user_profile.designation.title %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <div class="col-sm-offset-1 col-sm-5">
            <div class="panel panel-success">
              <div class="panel-heading">Our Projects</div>
              <div class="panel-body">
                <table class="table table-striped table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Start date</th>
                      <th>ETD</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @projects.each do |project| %>
                      <tr>
                        <td><%= link_to project.name , public_project_path(project.id) , class:''%></td>
                        <td><%= project.from %></td>
                        <td><%= project.to %></td>
                        <td>
                          <% project.users.each do |user| %>
                            <% if  user.user_profile.profile_image_id %>
                              <%= image_tag attachment_url(user.user_profile, :profile_image, :fill, 20, 20, format: 'jpg'), alt: "" ,  class: "img-circle" %>
                            <% else %>
                                <%= image_tag "default.png", class: 'img-circle' , :size => "20x20" , :crop => :fill  %>
                            <% end %>

                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-sm-5">
            <div class="panel panel-warning">
              <div class="panel-heading">Upcomming Birthdays</div>
              <div class="panel-body">
                <table class="table table-striped table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Birth date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @birthday_users.each do |birthday_user| %>
                      <tr>
                        <td><%= link_to birthday_user.user.name , public_path(birthday_user.id) , class:''%></td>
                        <td><%= birthday_user.dob %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-offset-1 col-sm-5">
            <div class="panel panel-info">
              <div class="panel-heading">Upcomming Events</div>
              <div class="panel-body">
                <table class="table table-striped table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>Event Name</th>
                      <th>Event Date</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @events.each do |event| %>
                      <tr>
                        <td><%= link_to event.name , public_path(event.id) , class:''%></td>
                        <td><%= event.event_date %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
<% end %>
