<%= form_for(user_profile) do |f| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Employee Name' %>
    <%= f.select :user_id, options_for_select(User.all.collect { |c| [c.name, c.id] }, user_profile.user_id), { prompt: 'Select Employee Name' }, class: 'form-control' , :required => true , :disabled => true %>
  </div>
  <div class="">
    <div class="form-group col-sm-6">
      <%= f.label 'Date of Joining' %>
      <%#= f.date_select( :doj , class: "form-control") %>
      <br>
      <%= f.date_select(:doj, {}, {:class => "form-control col-sm-3 frm-date"}) %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label 'Date of Birth' %>
      <br>
      <%= f.date_select(:dob, {}, {:class => "form-control col-sm-3 frm-date"}) %>
    </div>
  </div>

  <div class="">
    <div class="form-group col-sm-4">
      <%= f.label :role_id %>
      <%= f.select :role_id, options_for_select(Role.all.collect { |c| [c.title, c.id] }, user_profile.role_id), { prompt: 'Select Role' },  class: "form-control" , :required => true %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :designation_id %>
      <%= f.select :designation_id, options_for_select(Designation.all.collect { |c| [c.title, c.id] }, user_profile.designation_id), { prompt: 'Select Designation' }, class: "form-control" , :required => true %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :status_id %>
        <%= f.select :status_id, options_for_select(Status.all.collect { |c| [c.title, c.id] }, user_profile.status_id), { prompt: 'Select Status' },  class: "form-control", :required => true %>
    </div>
  </div>


  <div class="">
    <div class="form-group col-sm-6">
      <%= f.label :address %>
      <%= f.text_area :address ,  class: "form-control"%>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :per_address %>
      <%= f.text_area :per_address ,  class: "form-control" %>
    </div>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
