<%= form_for(salary) do |f| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Employee Names' %>
    <%= f.select :user_id, options_for_select(User.all.collect { |c| [c.name, c.id] }, salary.user_id), { prompt: 'Select User' }, class: 'form-control' , :required => true , disabled: true %>
  </div>

  <div class="">
    <div class="form-group col-sm-4">
      <%= f.label 'Salary in Lakh Per Annum' %>
      <%= f.text_field :amount , class: 'form-control' %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :initial_amount_per_month %>
      <%= f.text_field :initial_amount_per_month ,  class: 'form-control' %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label 'Provesional period' %>
      <%= f.number_field :prov_period,  class: 'form-control' %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
