<div class="container">
  <div class=" jumbotron">
    <p>
      <strong>Employee Name:</strong>
      <%= @salary.user.name %>
    </p>

    <p>
      <strong>Salary in Lakh Per Annum:</strong>
      <%= @salary.amount %>
    </p>

    <p>
      <strong>Initial amount per month:</strong>
      <%= @salary.initial_amount_per_month %>
    </p>

    <p>
      <strong>Prov period:</strong>
      <%= @salary.prov_period %>
    </p>

    <%= link_to 'Edit', edit_salary_path(@salary) %> |
    <%= link_to 'Back', salaries_path %>
  </div>
</div>
