<p id="notice"><%= notice %></p>

<p>
  <strong>Employee Name:</strong>
  <%= @document.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %> <br>
  <%= image_tag attachment_url(@document, :doc_image, :fill, 300, 400, format: "jpg") %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
