<div class="container">
  <div class=" jumbotron">
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Total budget:</strong>
      <%= @project.total_budget %>
    </p>

    <p>
      <strong>From:</strong>
      <%= @project.from %>
    </p>

    <p>
      <strong>To:</strong>
      <%= @project.to %>
    </p>

    <p>
      <strong>Instalments:</strong>
      <%= @project.instalments %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>
