<div class="">

  <div>
    Name: <%=  @user_profile.user.name %>
  </div>
  <br>
  <div>
    DOJ : <%=  @user_profile.doj %>
  </div>
  <br>
  <div>
    DOB: <%=  @user_profile.dob %>
  </div>
  <br>
  <div>
    Address: <%=  @user_profile.address %>
  </div>
  <br>
  <div>
    Permenant Address: <%=  @user_profile.per_address %>
  </div>
  <br>
  <div>
    Role: <%=  @user_profile.role.title %>
  </div>
  <br>
  <div>
    Designation: <%=  @user_profile.designation.title %>
  </div>
  <br>
  <div>
    Status: <%=  @user_profile.status.title %>
  </div>
  <br>
</div>
