<div class="container">
  <div class=" jumbotron">
    <div class="">
      All Employees
      <button type="button" class="btn btn-primary btn-xs right" data-toggle="modal" data-target="#myModal">
        Add New Employee
      </button>
    </div>
    <div class="">
      <!-- Button trigger modal -->


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
            </div>
              <%= form_tag('/hr/invite', method: :get , remote: true) do |f| %>
                <div class="modal-body">
                  <div class="">
                    Send Invite Link to New Employee!
                  </div>

                  <br>
                  <div class="field">
                    <%= label_tag "Name" %>
                    <%= text_field_tag :name %>
                  </div>
                  <div class="field">
                    <%= label_tag "Email" %>
                    <%= text_field_tag :email %>
                  </div>

                  <%= submit_tag "Send Invite", class: 'btn btn-primary' %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
      <!-- Modal Ends -->
    </div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>Employees Name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="filter-user" data-user="<%#= if user.activate then "active" else "inactive" end %>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= get_status(user) %></td>
            <td>  <button type="button" class="btn btn-info btn-xs" data-toggle="" onclick="get_profile(<%= user.id %>)" data-target="#show_profile">View Profile</button> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>



  <!-- Modal -->
  <div id="show_profile" class="modal fade col-sm-12" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Profile</h4>
        </div>
        <div class="modal-body" id="view_user_profile">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<br>
