<nav class="hr-nav navbar navbar-inverse">
  <div class="container">
  
    <div id="navbar ">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to users_hr_index_path,  rel: 'tooltip', title: 'List all Employees', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Employees
          <% end %>
        </li>
        <li>
          <%= link_to user_profiles_path,  rel: 'tooltip', title: 'List Employees Profiles', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Profiles
          <% end %>
        </li>
        <li>
          <%= link_to salaries_path,  rel: 'tooltip', title: 'List Employees Salaries', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Salaries
          <% end %>
        </li>
        <li>
          <%= link_to roles_path,  rel: 'tooltip', title: 'List  Roles', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Roles
          <% end %>
        </li>
        <li>
          <%= link_to designations_path,  rel: 'tooltip', title: 'List  Designation', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Designations
          <% end %>
        </li>
        <li>
          <%= link_to statuses_path,  rel: 'tooltip', title: 'List Status', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Status
          <% end %>
        </li>
        <li>
          <%= link_to events_path,  rel: 'tooltip', title: 'List Events', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Events
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</nav>
