<nav class="navbar navbar-inverse">
  <div class="container">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to users_hr_index_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Users
          <% end %>
        </li>
        <li>
          <%= link_to user_profiles_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Users Profile
          <% end %>
        </li>
        <li>
          <%= link_to salaries_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Users Salary
          <% end %>
        </li>
        <li>
          <%= link_to roles_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Roles
          <% end %>
        </li>
        <li>
          <%= link_to designations_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Designations
          <% end %>
        </li>
        <li>
          <%= link_to statuses_path,  rel: 'tooltip', title: 'View Users and details', data: { 'placement': 'bottom' }, class: 'border-btn-outer btn' do %>
            Status
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</nav>
