<!DOCTYPE html>
<html>
  <head>
    <title>Charge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header'%>



    <% if user_signed_in? %>
      <% if !current_user.user_profile.role.nil? %>
        <% if current_user.user_profile.role.title == "HR"  and current_user.user_profile.designation.title == "HR" %>
            <%= render 'layouts/hr_header'%>
        <% elsif  current_user.user_profile.role.title == "Finance"  and current_user.user_profile.designation.title == "HR" %>
            <%= render 'layouts/finance_header'%>
        <% end %>
      <% end %>
    <% end %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <%= yield :top_content %>

    <div class="container">
        <h1><%= yield :header %></h1>
      <%= yield %>
    </div>

    <%= render 'layouts/footer'%>
  </body>
</html>
